<div>
    
        <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <a href="index.html">数据源管理</a>
                        <i class="fa fa-circle"></i>
                    </li>
                    <li>
                        <span>数据源接入</span>
                    </li>
                </ul>
                 
       </div>

        <div class=“row”>
          
            <div class="col-lg-6 col-md-6">
                        <a class="btn btn-primary green-haze">SGRDB
                            (<span>12</span>)
                        </a>
                        <a class="btn btn-circle btn-icon-only green" ui-sref="datasource.create">
                                <i class="fa fa-plus"></i>
                        </a> 
            </div> 

            <div class="col-lg-6 col-md-6 " ui-view="detail">  
            </div>
             
        </div> 

 

</div>