<div>
    <div class="page-bar">
        <ul class="page-breadcrumb">
            <li>
                <a href="index.html">数据源管理</a>
                <i class="fa fa-circle"></i>
            </li>
            <li>
                <span>数据源监控</span>
            </li>
        </ul>
         
    </div>  
    <div class="row margin-top-20">
            <div class="col-md-2" ng-repeat="ds in dsList">
                    <!-- BEGIN Portlet PORTLET-->
                    <div class="portlet box light">
                        <div class="portlet-title">
                            <div class="caption">
                                <!-- <i class="fa fa-gift"></i> -->
                                MySQL </div>
                            <div class="actions">
                                <a href="javascript:;" class="btn blue btn-sm">
                                    <i class="fa fa-pencil"></i> Edit </a>
                               <a href="javascript:;" class="btn blue btn-sm">
                                            <i class="fa fa-pencil"></i> Delete </a>
                               
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="scroller" style="height:200px">
                              
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-md-3">
                    <!-- BEGIN Portlet PORTLET-->
                    <div class="portlet box light">
                        <div class="portlet-title">
                            <div class="caption">
                                <!-- <i class="fa fa-gift"></i> -->
                                MySQL </div>
                            <div class="actions">
                                <a href="javascript:;" class="btn blue btn-sm">
                                    <i class="fa fa-pencil"></i> Edit </a>
                               <a href="javascript:;" class="btn blue btn-sm">
                                            <i class="fa fa-pencil"></i> Delete </a>
                               
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="scroller" style="height:200px">
                              
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-md-3">
                    <!-- BEGIN Portlet PORTLET-->
                    <div class="portlet box light">
                        <div class="portlet-title">
                            <div class="caption">
                                <!-- <i class="fa fa-gift"></i> -->
                                MySQL </div>
                            <div class="actions">
                                <a href="javascript:;" class="btn blue btn-sm">
                                    <i class="fa fa-pencil"></i> Edit </a>
                               <a href="javascript:;" class="btn blue btn-sm">
                                            <i class="fa fa-pencil"></i> Delete </a>
                               
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="scroller" style="height:200px">
                              
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-md-3">
                    <!-- BEGIN Portlet PORTLET-->
                    <div class="portlet box light">
                        <div class="portlet-title">
                            <div class="caption">
                                <!-- <i class="fa fa-gift"></i> -->
                                MySQL </div>
                            <div class="actions">
                                <a href="javascript:;" class="btn blue btn-sm">
                                    <i class="fa fa-pencil"></i> Edit </a>
                               <a href="javascript:;" class="btn blue btn-sm">
                                            <i class="fa fa-pencil"></i> Delete </a>
                               
                            </div>
                        </div>
                        <div class="portlet-body">
                            <div class="scroller" style="height:200px">
                              
                            </div>
                        </div>
                    </div>
            </div>
    </div>
</div>